<a href="https://colab.research.google.com/github/navyasonal/Basics/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

System specifications

In [1]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [2]:
!cat /proc/meminfo

MemTotal:       13297192 kB
MemFree:         9914552 kB
MemAvailable:   12467520 kB
Buffers:           59524 kB
Cached:          2634408 kB
SwapCached:            0 kB
Active:           813060 kB
Inactive:        2363228 kB
Active(anon):        892 kB
Inactive(anon):   433076 kB
Active(file):     812168 kB
Inactive(file):  1930152 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               868 kB
Writeback:             0 kB
AnonPages:        482384 kB
Mapped:           231628 kB
Shmem:              1180 kB
KReclaimable:     104456 kB
Slab:             133224 kB
SReclaimable:     104456 kB
SUnreclaim:        28768 kB
KernelStack:        4176 kB
PageTables:         9296 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6648596 kB
Committed_AS:    2517232 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        9044 kB
VmallocChunk:          0 kB
Percpu:             1320 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       88896 kB
DirectMap2M:     3053568 kB
DirectMap1G:    12582912 kB

Installing Libraries

In [3]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('/content/housing.csv')

In [6]:
df.head()

   0.00632  18.00   2.310  0  0.5380  6.5750  65.20  4.0900   1  296.0  15.30 396.90   4.98  24.00
0   0.02731   0.00   7.070  0  0.4690  6.4210  78...
1   0.02729   0.00   7.070  0  0.4690  7.1850  61...
2   0.03237   0.00   2.180  0  0.4580  6.9980  45...
3   0.06905   0.00   2.180  0  0.4580  7.1470  54...
4   0.02985   0.00   2.180  0  0.4580  6.4300  58...

In [7]:
!ls

housing.csv  sample_data

Programming languages used for ML are
Python and
R

#Print Function

In [9]:
print ("Hello world")

Hello world

In [10]:
print("Machine learning "+"Projects")

Machine learning Projects

In [11]:
print(8)

8

In [12]:
print(8+3)

11

#Basic Data Types:

1. Int
2. Float
3. Strings

In [13]:
type(8)

int

In [14]:
type(7.77)

float

In [16]:
type('a')

str

#Constants and variables 
python is case sensitive

In [17]:
superhero ='Iron man'
print(superhero)

Iron man

In [19]:
a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

#input Function
it assumes that the value entered is a string

In [20]:
num=input("Enter a number")
num2=input("Enter the number ")

Enter a number23
Enter the number 45

In [21]:
print(num+num2)

2345

In [22]:
num=int(input("Enter a number"))
num2=int(input("Enter the number "))

Enter a number2
Enter the number 3

In [23]:
print(num+num2)

5

In [26]:
#changing the data type
a=7
print(float(a))

7.0

#Basic data type

1. Integer
2. Float
3. Complex
4. boolean
5. string

In [27]:
c=1+3j
print(c)
type(c)

(1+3j)

complex

In [34]:
a=7<3
print(a)
type(a)

False

bool

In [36]:
mystring="Machine Learning"
print(mystring)
type(mystring)

Machine Learning

str

In [37]:
print("Hello "*5)

Hello Hello Hello Hello Hello

Conversion of Data type

In [28]:
a=7
type(a)

int

In [29]:
b=float(a)
type(b)

float

In [30]:
c=2.33
type(c)

float

In [31]:
d=int(c)
print(d)
type(d)

2

int

Slicing

In [39]:
word="Progamming"
print(word[1:4])
print(word[1:10:2])

rog
rgmig

String concatanation

In [40]:
w1="abc"
w2="xyz"

w3=w1+w2
print(w3)

abcxyz

List

In [5]:
#list is represented in closed square brackets
#list can have multiplte data types in a single list
#list are mutuable that is can be changed once created
#list allows duplicate values

my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

list1=[2,3,4.5,'abc']
print(list1)

[1, 2, 3, 4, 5]
[2, 3, 4.5, 'abc']

In [6]:
a=7
list1.append(a)
print(list1)

[2, 3, 4.5, 'abc', 7]

In [8]:
print(my_list[2])

3

In [9]:
print(len(my_list))

5

In [11]:
nlist=[]
nlist.append(1)
nlist.append(2)
nlist.append(3)
nlist.append(4)

In [12]:
print(nlist)

[1, 2, 3, 4]

In [13]:
del nlist[2]
print(nlist)

[1, 2, 4]

In [14]:
list2=[1,2,3,4,5]
list3=[5,6,7,8,9]
list4=list2+list3
print(list4)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

Tuple

In [18]:
#Tuple is immutable
#Tuple allows multiple data types

tuple_1=(1,2,3,4)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4)

tuple

In [20]:
tuple_3= (1, 2, 3.5, 4.8,'Machine learning')
print(tuple_3)

(1, 2, 3.5, 4.8, 'Machine learning')

In [21]:
#converting a list to a tuple
list6=[3,5,7,8]
print(list6)

[3, 5, 7, 8]

In [23]:
tuple_3=tuple(list6)
print(tuple_3)

(3, 5, 7, 8)

In [24]:
print(tuple_3[1])

5

Set

In [25]:
#set is enclosed in clurly bracket
#does not have any associated index values
#does not allow duplicate commands

s={1,2,3,4,5}
type(s)

set

In [26]:
#convert list to a set
list7=[2,3,4,5,6]
x=set(list7)
print(x)

{2, 3, 4, 5, 6}

In [27]:
s={3,4,5,6,7,8,4,5,6}
print(s)

{3, 4, 5, 6, 7, 8}

Dictionary

In [33]:
# dictionary has a key and a value associated with it
# dictionary does not allow duplicate elements

In [29]:
my_dict={'a':"navya",'b':"navya",'c':"navya"}
print(my_dict)

{'a': 'navya', 'b': 'navya', 'c': 'navya'}

In [30]:
type(my_dict)

dict

In [32]:
print(my_dict['a'])

navya

In [34]:
num1=10
num2=20

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

30
-10
200
0.5

In [36]:
#exponential
print(2**3)

8

Membership Operator

in 

not in

In [37]:
a=1
b=2
c=[1,2,3,4,5,6]

print(a in c)
print(b in c)

True
True

In [38]:
a=3
b=5

if(a>b):
  print("a>b")
else:
  print("a<b")

a<b

In [39]:
a=int(input("Enter the value of a"))
b=int(input("Enter the value of b"))

if(a>b):
  print("a>b")
else:
  print("a<b")

Enter the value of a2
Enter the value of b3
a<b

In [40]:
a=10
b=20
c=30

if(a>b and a>c):
  print("A is the greatest ")
elif(b>a and b>c):
  print("B is the greatest")
else:
  print("C is the greatest")

C is the greatest

Loops

In [2]:
for i in range(5):  # 0,1,2,3,4
 print("Hello ")

Hello
Hello
Hello
Hello
Hello

In [4]:
a=[45,6,78,98,12]
for i in a:
  print(i)

45
6
78
98
12